<div style="text-align: center;">
    <a href="https://imgur.com/Ksrq4TQ">
        <img src="https://i.imgur.com/Ksrq4TQ.png" title="source: imgur.com" style="display: block; margin: 0 auto;">
    </a>
</div>

<h1 class="h3 mb-3" style="text-align: center; color: rgb(167, 199, 150);">Confirmation d'inscription à la newsletter</h1>

<p style="text-align: center;">Merci de vous être inscrit(e) à notre newsletter Lucky Délices !</p>

<p style="text-align: center;">Vous faites désormais partie de notre communauté gourmande.</p>

<p style="text-align: center;">Préparez-vous à recevoir nos dernières recettes savoureuses, astuces culinaires et informations exclusives directement dans votre boîte de réception.</p>

<p style="text-align: center;">Nous sommes ravis de partager notre passion pour la cuisine avec vous !</p>

<p style="text-align: center;">Restez à l'affût et profitez de nos délices culinaires.</p>

<p style="text-align: center;">A bientôt !</p>

<p style="text-align: center;">Lucky Délices</p>

