{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <svg class="background--custom" id="demo" viewBox="0 0 100 100" preserveAspectRatio="none">
        <path fill="#A5DB68" fill-opacity="0.7" d="M-100 -100L200 -100L200 50L-100 50Z" style="animation: path0 5s linear infinite alternate;" /><path fill="#F8DA3A" fill-opacity="0.7" d="M-100 -100L200 -100L200 50L-100 50Z" style="animation: path1 12.5s linear infinite alternate;" /><path fill="#FFFFFF" fill-opacity="0.2" d="M-100 -100L200 -100L200 20L-100 20Z" style="animation: path2 30s linear infinite alternate;" />
      </svg>
    <section class="presentation">
        <img class="crepe" src="/images/20220330_185609.jpg" alt="">
        <div class="text">
            <h1>Lucky Délices</h1>
            <h2>La crème, de la crème.</h2>
            <h3>Venez découvrir sans plus tarder, mes délicieuses recettes... </h3>
        </div>
    </section>
</div>
    <section class="news">
        <h1>Mes dernières recettes </h1>
        <div class="card">
            <a href="galette-des-rois.html">
              <div class="card-image">
                <img src="/image/gallette-des-rois.jpeg" width="250px"/>
              </div>
              <div class="card-body">
                <div class="card-title">
                  <h3>Galette des rois</h3>
                </div>
                <div class="card-excerpt">
                  <span class="info">Pour l'épiphanie</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="foie-gras.html">
              <div class="card-image">
                <img src="/image/fois-gras.jpeg" width="250px"/>
              </div>
              <div class="card-body">
                <div class="card-title">
                  <h3>Foie gras</h3>
                </div>
                <div class="card-excerpt">
                  <span class="info">Recette facile</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="cake-tout-chocolat.html">
              <div class="card-image">
                <img src="/image/cake-tout-choco.jpeg" width="250px"/>
              </div>
              <div class="card-body">
                <div class="card-title">
                  <h3>Cake tout chocolat</h3>
                </div>
                <div class="card-excerpt">
                  <span class="info">Pour les gourmands</span>
                </div>
              </div>
            </a>
          </div>          
    </section>
    <section class="video">
          <h2 class="title">Ma sélection du mois </h2>
    <div class="video-responsive">
        <iframe src="https://www.youtube.com/embed/e7LmBozXsH8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    </section>
    <section class="favorites">
        <h1>Vos recettes favorites</h1>
        <div class="cards">
          <div class="card">
            <a href="guacamole.html">
              <div class="card-image">
                <img src="/image/Guacamole.jpg" width="250px"/>
              </div>
              <div class="card-body">
                <div class="card-title">
                  <h3>Guacamole</h3>
                </div>
                <div class="card-excerpt">
                  <span class="info">Pour l'apéro</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="moussaka.html">
              <div class="card-image">
                <img src="/image/moussaka.jpg" width="250px"/>
              </div>
              <div class="card-body">
                <div class="card-title">
                  <h3>Moussaka</h3>
                </div>
                <div class="card-excerpt">
                  <span class="info">Un plat complet</span>
                </div>
              </div>
            </a>
          </div>
          <div class="card">
            <a href="tuile.html">
              <div class="card-image">
                <img src="/image/tuile.jpg" width="250px"/>
              </div>
              <div class="card-body">
                <div class="card-title">
                  <h3>Les tuiles aux amandes</h3>
                </div>
                <div class="card-excerpt">
                  <span class="info">Recette de ma mamie</span>
                </div>
              </div>
            </a>
          </div>
        </div>
      </section>
    <section class="networks">
        <h2>Mes réseaux</h2>
        <div class="contenair">
            <div class="icon facebook">
                <span><img src="/images/logoFace.png" alt=""></span>
              </div>
              <div class="icon instagram">
                <span><img src="/images/logoInsta.png" alt=""></span>
              </div>
              <div class="icon youtube">
                <span><img src="/images/logoYoutube.png" alt=""></span>
              </div>
        </div>
    </section>
        <footer>
            <div class="copyright">
                &copy; Copyright 2022 LuckyDelices <br> 
                Made by Stéphanie Merluzzo
            </div>
        </footer>

{% endblock %}