<div style="text-align: center;">
    <a href="https://imgur.com/oOiKowB">
        <img src="https://i.imgur.com/oOiKowB.png" title="source: imgur.com" style="display: block; margin: 0 auto;">
    </a>
</div>

<h1 style="text-align: center; color: rgb(167, 199, 150);">Bonjour ! Veuillez confirmer votre adresse e-mail !</h1>

<p style="text-align: center;">
    Félicitations ! Vous venez de vous inscrire à Lucky Délices, votre source de délices culinaires.
    Pour compléter votre inscription, veuillez confirmer votre adresse e-mail en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon adresse e-mail</a>.
    Ce lien expirera dans {{ expiresAtMessageKey|trans(expiresAtMessageData, 'VerifyEmailBundle') }}.
</p>

<p style="text-align: center;">
    Rejoignez notre communauté de passionnés de cuisine et découvrez les dernières recettes savoureuses,
    astuces culinaires et inspirations gourmandes.
    Nous avons hâte de partager avec vous notre passion pour la cuisine !
</p>

<p style="text-align: center;">
    À bientôt sur Lucky Délices !
</p>
