{% extends 'base.html.twig' %}

{% block title %}Hello LegalController!{% endblock %}

{% block body %}

    <div class="mt-5 mx-5">
        <h1>Politique de confidentialité de LuckyDélices</h1>    
    </div>
    <div class="mt-3 mx-3">
        <p>Nous accordons une grande importance à la protection de vos informations personnelles. Cette politique de confidentialité explique comment nous collectons, utilisons et protégeons vos données lorsque vous utilisez notre site web LuckyDélices.</p>
    </div>
    <div class="mt-5 mx-5">
        <h2>Collecte d'informations personnelles</h2>
    </div>
    <div class="mt-3 mx-3">
        <p>Lorsque vous visitez notre site web, nous pouvons collecter certaines informations personnelles vous concernant, telles que votre nom, votre adresse e-mail, votre numéro de téléphone, etc. Ces informations sont collectées de manière volontaire lorsque vous les fournissez lors de la création d'un compte ou de la passation d'une commande.</p>
    </div>
    <div class="mt-5 mx-5">
        <h2>Utilisation des informations collectées</h2>
    </div>
    <div class="mt-3 mx-3">
        <p>Les informations personnelles que nous collectons sont utilisées pour vous fournir les services demandés, traiter vos commandes, communiquer avec vous concernant votre compte ou vos demandes, et améliorer votre expérience sur notre site web. Nous pouvons également utiliser ces informations pour vous envoyer des communications promotionnelles ou des newsletters si vous avez donné votre consentement.</p>
    </div>
    <div class="mt-5 mx-5">
        <h2>Protection des informations</h2>
    </div>
    <div class="mt-3 mx-3">
        <p>Nous prenons des mesures de sécurité appropriées pour protéger vos informations personnelles contre tout accès non autorisé, toute divulgation, toute altération ou toute destruction. Nous utilisons des protocoles de sécurité et des mesures de chiffrement pour garantir la confidentialité de vos données.</p>
    </div>
    <div class="mt-5 mx-5">
        <h2>Partage des informations</h2>
    </div>
    <div class="mt-3 mx-3">
        <p>Nous ne vendons, n'échangeons, ni ne louons vos informations personnelles à des tiers sans votre consentement, sauf dans les cas suivants : lorsque cela est nécessaire pour vous fournir les services demandés (par exemple, partager votre adresse avec un service de livraison), lorsque cela est requis par la loi ou lorsque cela est nécessaire pour protéger nos droits, notre sécurité ou celle d'autrui.</p>
    </div>
    <div class="mt-5 mx-5">
        <h2>Cookies</h2>    
    </div>
    <div class="mt-3 mx-3">
        <p>Nous utilisons des cookies sur notre site web pour améliorer votre expérience de navigation et personnaliser le contenu que nous vous présentons. Les cookies sont de petits fichiers texte stockés sur votre ordinateur qui nous permettent de reconnaître votre navigateur et de vous offrir des fonctionnalités personnalisées. Vous pouvez modifier les paramètres de votre navigateur pour désactiver les cookies si vous le souhaitez.</p>
    </div>
    <div class="mt-5 mx-5">
        <h2>Liens vers des sites tiers</h2>
    </div>
    <div class="mt-3 mx-3">
        <p>Notre site web peut contenir des liens vers des sites web de tiers. Nous ne sommes pas responsables des pratiques de confidentialité ou du contenu de ces sites. Nous vous encourageons à lire les politiques de confidentialité de ces sites avant de fournir vos informations personnelles.</p>
    </div>
    <div class="mt-5 mx-5">
        <h2>Consentement</h2>
    </div>
    <div class="mt-3 mx-3">
        <p>En utilisant notre site web, vous consentez à notre politique de confidentialité et à la collecte et à l'utilisation de vos informations personnelles telles que décrites ici.</p>
    </div>
    <div class="mt-5 mx-5">
        <h2>Modifications de la politique de confidentialité</h2>
    </div>
    <div class="mt-3 mx-3">
        <p>Nous nous réservons le droit de modifier cette politique de confidentialité à tout moment. Les changements seront publiés sur cette page, et la date de révision en haut de la page sera mise à jour pour refléter la date de la modification la plus récente.</p>
        <p>Nous vous encourageons à consulter régulièrement cette page pour prendre connaissance des éventuelles modifications apportées à notre politique de confidentialité.</p>
    </div>
    <div class="mt-5 mx-5">
        <h2>Contactez-nous</h2>
    </div>
    <div class="mt-3 mx-3">
        <p>Si vous avez des questions ou des préoccupations concernant notre politique de confidentialité ou la manière dont nous traitons vos informations personnelles, veuillez nous contacter à l'adresse suivante : [adresse email contact].</p>
        <p>Dernière mise à jour : [27/05/2023]</p>
    </div>

{% endblock %}