{% set cancel_route = "app_admin_ingredient_index" %}
{% set title = "Ajouter un ingrédient" %}
{% extends 'admin_with_form.html.twig' %}

{% block forms %}

    {{ include('admin/ingredient/_form.html.twig') }}

    <a href="{{ path('app_admin_ingredient_index') }}"class="btn btn-return active mt-2">Retour à la liste</a>
{% endblock %}
