{% set title = "Présentation d'un ingrédrient" %}
{% extends 'admin_with_table.html.twig' %}
{% block table_content %}
    <tbody>
        <table>
        <tr>
            <th>
                Id
            </th>
            <td>
                {{ ingredient.id }}
            </td>
        </tr>
        <tr>
            <th>
                Name
            </th>
            <td>
                {{ ingredient.name }}
            </td>
        </tr>
    </table>
    </tbody>
    <a href="{{ path('app_admin_ingredient_index') }}" class="btn btn-return active mt-2 mb-2">
        Retour à la liste
    </a>
{% endblock %}
