{% extends 'base.html.twig' %}

{% block title %}Hello PlatsController!{% endblock %}

{% block body %}
<section class="presentation-entree">
    <h1>Les Plats</h1>
    <img src="/images/tajine.jpg" alt="">
    <ul class="choix">
        <li><a href="#poulet">Au poulet</a></li>
        <li><a href="#boeuf">Au boeuf</a></li>
        <li><a href="#porc">Au porc</a></li>
        <li><a href="#canard">Au canard</a></li>
        <li><a href="#poisson">Au poisson</a></li>
        <li><a href="#vegetarien">Végétarien</a></li>
    </ul>
</section>
<section class="poulet">
  <h2 id="poulet">Mes recettes au poulet</h2>
    <div class="painting-presentation">
        <div class="cards">
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="/image/Couronne poireau.jpg" />
                    <h5 class="card-title">Ma couronne poireau chèvre miel</h5>
                </div>
            <div class="card__face card__face--back">
                <img src="/image/lucky2.png" />
                <div class="card-body"> 
                    <p class="card-text">
                        <ul>
                            <li>Temps : <span>20 minutes</span></li>
                            <li>Lien Youtube : <span><a href="https://www.youtube.com/watch?v=bDGhZtNHZKc&t=1s">Cliquez ici</a></span></li>
                            <li>Difficulté : <span>Facile</span></li>
                            <li>Nombre de personnes : <span>4</span></li>
                        </ul>
                    </p>
                  <a href="couronne-aux-poireaux.html" class="btn btn-primary">Voir la recette</a>
                </div>
            </div>
        </div>
    </div> 
</section>
<section class="boeuf">
  <h2 id="boeuf">Mes recettes au boeuf</h2>
<div class="painting-presentation">
        <div class="cards">
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="/image/Couronne poireau.jpg" />
                    <h5 class="card-title">Ma couronne poireau chèvre miel</h5>
                </div>
            <div class="card__face card__face--back">
                <img src="/image/lucky2.png" />
                <div class="card-body"> 
                    <p class="card-text">
                        <ul>
                            <li>Temps : <span>20 minutes</span></li>
                            <li>Lien Youtube : <span><a href="https://www.youtube.com/watch?v=bDGhZtNHZKc&t=1s">Cliquez ici</a></span></li>
                            <li>Difficulté : <span>Facile</span></li>
                            <li>Nombre de personnes : <span>4</span></li>
                        </ul>
                    </p>
                  <a href="couronne-aux-poireaux.html" class="btn btn-primary">Voir la recette</a>
                </div>
            </div>
        </div>
    </div> 
</section>
<section class="porc">
  <h2 id="porc">Mes recettes au porc</h2>
<div class="painting-presentation">
        <div class="cards">
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="/image/Couronne poireau.jpg" />
                    <h5 class="card-title">Ma couronne poireau chèvre miel</h5>
                </div>
            <div class="card__face card__face--back">
                <img src="/image/lucky2.png" />
                <div class="card-body"> 
                    <p class="card-text">
                        <ul>
                            <li>Temps : <span>20 minutes</span></li>
                            <li>Lien Youtube : <span><a href="https://www.youtube.com/watch?v=bDGhZtNHZKc&t=1s">Cliquez ici</a></span></li>
                            <li>Difficulté : <span>Facile</span></li>
                            <li>Nombre de personnes : <span>4</span></li>
                        </ul>
                    </p>
                  <a href="couronne-aux-poireaux.html" class="btn btn-primary">Voir la recette</a>
                </div>
            </div>
        </div>
    </div> 
</section>
<section class="canard">
  <h2 id="canard">Mes recettes au canard</h2>
<div class="painting-presentation">
        <div class="cards">
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="/image/Couronne poireau.jpg" />
                    <h5 class="card-title">Ma couronne poireau chèvre miel</h5>
                </div>
            <div class="card__face card__face--back">
                <img src="/image/lucky2.png" />
                <div class="card-body"> 
                    <p class="card-text">
                        <ul>
                            <li>Temps : <span>20 minutes</span></li>
                            <li>Lien Youtube : <span><a href="https://www.youtube.com/watch?v=bDGhZtNHZKc&t=1s">Cliquez ici</a></span></li>
                            <li>Difficulté : <span>Facile</span></li>
                            <li>Nombre de personnes : <span>4</span></li>
                        </ul>
                    </p>
                  <a href="couronne-aux-poireaux.html" class="btn btn-primary">Voir la recette</a>
                </div>
            </div>
        </div>
    </div>
</section>
    <section class="poisson">
  <h2 id="poisson">Mes recettes au poisson</h2>
<div class="painting-presentation">
        <div class="cards">
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="/image/Couronne poireau.jpg" />
                    <h5 class="card-title">Ma couronne poireau chèvre miel</h5>
                </div>
            <div class="card__face card__face--back">
                <img src="/image/lucky2.png" />
                <div class="card-body"> 
                    <p class="card-text">
                        <ul>
                            <li>Temps : <span>20 minutes</span></li>
                            <li>Lien Youtube : <span><a href="https://www.youtube.com/watch?v=bDGhZtNHZKc&t=1s">Cliquez ici</a></span></li>
                            <li>Difficulté : <span>Facile</span></li>
                            <li>Nombre de personnes : <span>4</span></li>
                        </ul>
                    </p>
                  <a href="couronne-aux-poireaux.html" class="btn btn-primary">Voir la recette</a>
                </div>
            </div>
        </div>
    </div>
</section>    
    <section class="vegetarien">
  <h2 id="vegetarien">Mes recettes végétarienne</h2>
<div class="painting-presentation">
        <div class="cards">
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="/image/Couronne poireau.jpg" />
                    <h5 class="card-title">Ma couronne poireau chèvre miel</h5>
                </div>
            <div class="card__face card__face--back">
                <img src="/image/lucky2.png" />
                <div class="card-body"> 
                    <p class="card-text">
                        <ul>
                            <li>Temps : <span>20 minutes</span></li>
                            <li>Lien Youtube : <span><a href="https://www.youtube.com/watch?v=bDGhZtNHZKc&t=1s">Cliquez ici</a></span></li>
                            <li>Difficulté : <span>Facile</span></li>
                            <li>Nombre de personnes : <span>4</span></li>
                        </ul>
                    </p>
                  <a href="couronne-aux-poireaux.html" class="btn btn-primary">Voir la recette</a>
                </div>
            </div>
        </div>
    </div>  
</section>
{% endblock %}
