{% extends 'base.html.twig' %}

{% block title %}Hello DessertsController!{% endblock %}

{% block body %}
<section class="presentation-entree">
    <h1>Les Desserts</h1>
    <img src="/images/Tarte fraise.jpg" alt="">
    <ul class="choix">
        <li><a href="#chocolat">Au chocolat</a></li>
        <li><a href="#fruit">Au fruit</a></li>
        <li><a href="#macaron">Les macarons</a></li>
        <li><a href="#autre">Les autres gourmandisses</a></li>
    </ul>
</section>
<section class="chocolat">
  <h2 id="chocolat">Mes dessserts au chocolat</h2>
    <div class="painting-presentation">
        <div class="cards">
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="/image/Couronne poireau.jpg" />
                    <h5 class="card-title">Ma couronne poireau chèvre miel</h5>
                </div>
            <div class="card__face card__face--back">
                <img src="/image/lucky2.png" />
                <div class="card-body"> 
                    <p class="card-text">
                        <ul>
                            <li>Temps : <span>20 minutes</span></li>
                            <li>Lien Youtube : <span><a href="https://www.youtube.com/watch?v=bDGhZtNHZKc&t=1s">Cliquez ici</a></span></li>
                            <li>Difficulté : <span>Facile</span></li>
                            <li>Nombre de personnes : <span>4</span></li>
                        </ul>
                    </p>
                  <a href="couronne-aux-poireaux.html" class="btn btn-primary">Voir la recette</a>
                </div>
            </div>
        </div>
    </div> 
</section>
<section class="fruit">
  <h2 id="fruit">Mes desserts au fruit</h2>
<div class="painting-presentation">
        <div class="cards">
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="/image/Couronne poireau.jpg" />
                    <h5 class="card-title">Ma couronne poireau chèvre miel</h5>
                </div>
            <div class="card__face card__face--back">
                <img src="/image/lucky2.png" />
                <div class="card-body"> 
                    <p class="card-text">
                        <ul>
                            <li>Temps : <span>20 minutes</span></li>
                            <li>Lien Youtube : <span><a href="https://www.youtube.com/watch?v=bDGhZtNHZKc&t=1s">Cliquez ici</a></span></li>
                            <li>Difficulté : <span>Facile</span></li>
                            <li>Nombre de personnes : <span>4</span></li>
                        </ul>
                    </p>
                  <a href="couronne-aux-poireaux.html" class="btn btn-primary">Voir la recette</a>
                </div>
            </div>
        </div>
    </div> 
</section>
<section class="macaron">
  <h2 id="macaron">Mes macarons</h2>
<div class="painting-presentation">
        <div class="cards">
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="/image/Couronne poireau.jpg" />
                    <h5 class="card-title">Ma couronne poireau chèvre miel</h5>
                </div>
            <div class="card__face card__face--back">
                <img src="/image/lucky2.png" />
                <div class="card-body"> 
                    <p class="card-text">
                        <ul>
                            <li>Temps : <span>20 minutes</span></li>
                            <li>Lien Youtube : <span><a href="https://www.youtube.com/watch?v=bDGhZtNHZKc&t=1s">Cliquez ici</a></span></li>
                            <li>Difficulté : <span>Facile</span></li>
                            <li>Nombre de personnes : <span>4</span></li>
                        </ul>
                    </p>
                  <a href="couronne-aux-poireaux.html" class="btn btn-primary">Voir la recette</a>
                </div>
            </div>
        </div>
    </div> 
</section>
<section class="autre">
  <h2 id="autre">Mes autres gourmandisses</h2>
<div class="painting-presentation">
        <div class="cards">
            <div class="card">
                <div class="card__face card__face--front">
                    <img src="/image/Couronne poireau.jpg" />
                    <h5 class="card-title">Ma couronne poireau chèvre miel</h5>
                </div>
            <div class="card__face card__face--back">
                <img src="/image/lucky2.png" />
                <div class="card-body"> 
                    <p class="card-text">
                        <ul>
                            <li>Temps : <span>20 minutes</span></li>
                            <li>Lien Youtube : <span><a href="https://www.youtube.com/watch?v=bDGhZtNHZKc&t=1s">Cliquez ici</a></span></li>
                            <li>Difficulté : <span>Facile</span></li>
                            <li>Nombre de personnes : <span>4</span></li>
                        </ul>
                    </p>
                  <a href="couronne-aux-poireaux.html" class="btn btn-primary">Voir la recette</a>
                </div>
            </div>
        </div>
    </div> 
</section>
{% endblock %}
