{% set title = "Ajouter un commentaire" %}
{% extends 'admin_with_form.html.twig' %}

{% block forms %}

    {{ include('admin/comment/_form.html.twig') }}

    <a href="{{ path('app_admin_comment_index') }}" class="btn btn-return active mt-2">Retour à la liste</a>
{% endblock %}
