{% set title = "La catégorie" %}
{% extends 'admin_with_table.html.twig' %}

{% block table_content %}
    <table>
        <tbody>
            <tr>
                <th>Id : </th>
                <td>{{ category.id }}</td>
            </tr>
            <tr>
                <th>Nom : </th>
                <td>{{ category.name }}</td>
            </tr>
        </tbody>
    </table>
    <a href="{{ path('app_admin_category_index') }}" class="btn btn-return active mt-2 mb-2">Retour à la liste</a>
{% endblock %}
