<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid me-3 d-flex justify-content-between">
    <a class="navbar-brand me-2" href="#home"><img src="/images/logo.jpeg" alt="Logo" style="width: 60px;"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-3 me-auto">
        <li class="nav-item">
          <a class="nav-link" href="entrees.html">Entrées</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="plats.html">Plats</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="dessert.html">Desserts</a>
        </li>
      </ul>
      <form class="d-flex justify-content-center">
        <input class="form-control me-2" type="search" placeholder="Rechercher..." aria-label="Search">
        <button class="btn mt-2" type="submit" style="background-image: url('/images/search.png'); background-repeat: no-repeat";></button>
      </form>
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        {% if app.user %}
          <li class="nav-item">
            <button class="btn btn-outline-my-custom me-2 btn-signup mt-2 mt-lg-0"><a href="#" style="text-decoration: none; color: inherit;">Mon compte</a></button>
          </li>
          <li class="nav-item">
            <button class="btn btn-my-custom btn-login mt-2 mt-lg-0"><a href="{{ path('app_logout') }}" style="text-decoration: none; color: inherit;">Me déconnecter</a></button>
          </li>
        {% else %}
          <li class="nav-item">
            <button class="btn btn-outline-my-custom me-2 btn-signup mt-2 mt-lg-0"><a href="{{ path('app_register') }}" style="text-decoration: none; color: inherit;">S'inscrire</a></button>
          </li>
          <li class="nav-item">
            <button class="btn btn-my-custom btn-login mt-2 mt-lg-0"><a href="{{ path('app_login') }}" style="text-decoration: none; color: inherit;">Se connecter</a></button>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>



